In [ ]:
zmienna_znakowa = "Hello world"

###Kontkatenacja znaków

# sposób 1 na konkotenację znaków

In [ ]:
zmienna_znakowa + " Adam"

###sposób 2

In [ ]:
zmienna_znakowa

In [ ]:
uzytkownik = 'Adam'

In [ ]:
print('{} {} !'.format(zmienna_znakowa, uzytkownik))

In [ ]:
### sposób 3 f-stringi

In [ ]:
f'{zmienna_znakowa} {uzytkownik}'

#### slicing

In [ ]:
zmienna_znakowa[0:2]

In [ ]:
zmienna_znakowa[2:]

In [ ]:
zmienna_znakowa[2::2]

In [ ]:
#wyświetla co drugi znak

In [ ]:
zmienna_znakowa[-1]

In [ ]:
zmienna_znakowa[-1] = 'd'

In [ ]:
zmienna_znakowa[-1] == 'd'

In [ ]:
zmienna_znakowa[-1] != 'd'

In [ ]:
len(zmienna_znakowa)

In [ ]:
type(zmienna_znakowa)

In [ ]:
zmienna_znakowa.lower()

In [ ]:
dir(zmienna_znakowa)

In [ ]:
help(dir)

In [ ]:
dir?

In [ ]:
lista_uczestnikow = 'Ewelina, Tomek, Marta'

In [ ]:
lista_uczestnikow.find('Tomek')

In [ ]:
help(split)

In [ ]:
lista_uczestnikow.split?

In [ ]:
lista_uczestnikow.split(',')

In [ ]:
lista_uczestnikow.split[0]

In [ ]:
lista_uczestnikow.split(',')[2]

In [ ]:
wynik_splita =  lista_uczestnikow.split(',')

In [ ]:
",".join(wynik_splita)

## zmienne liczbowe

## całkowitoliczbowe - integer
* typ int

In [ ]:
zmienna_liczbowa = 8

In [ ]:
zmienna_liczbowa

In [ ]:
type(zmienna_liczbowa)

###operacja na zmiennych liczbowych

In [ ]:
zmienna_liczbowa += 3

In [ ]:
zmienna_liczbowa

In [ ]:
### zadanie

In [ ]:
pierwszy_uczestnik = 'Ania'

In [ ]:
drugi_uczestnik = 'Tomek'

In [ ]:
temp = pierwszy_uczestnik
pierwszy_uczestnik = drugi_uczestnik
drugi_uczestnik = temp

In [ ]:
pierwszy_uczestnik

In [ ]:
drugi_uczestnik

In [ ]:
# dalej

In [ ]:
16 ** (1/2)

In [ ]:
sqrt(16)

In [ ]:
import math

In [ ]:
math.sqrt(16)

In [ ]:
112/3

In [ ]:
112//3

In [ ]:
112 % 3

### typy zmienno przecinkowe
* typ float

In [ ]:
zmienna_float = 3.14

In [ ]:
zmienna_e = 2.71

In [ ]:
type(zmienna_e)

In [ ]:
math.e

In [ ]:
round(math.e)

In [ ]:
round(math.pi, 2)

 ###konwersja typow

In [ ]:
int(zmienna_float)

In [ ]:
int(3.5)

In [ ]:
int(3.6)

### listy

### zapisuja wiele elementow np wiele znakow, liczb

In [ ]:
liczby = [1, 2, 5, 11]

In [ ]:
type(liczby)

In [ ]:
#slicing na slistach

In [ ]:
liczby[1:3]

In [ ]:
len(liczby)

In [ ]:
11 in liczby

In [ ]:
6 in liczby

In [ ]:
liczby.append(-1)

In [ ]:
liczby.append(-8)

In [ ]:
liczby

In [ ]:
liczby.sort()

In [ ]:
print (liczby)

In [ ]:
liczby.sort(reverse=True)

In [ ]:
liczby

In [ ]:
liczby.pop()

In [ ]:
liczby

In [ ]:
liczby.extend(33, 55)

In [ ]:
name = !whoami

In [ ]:
print(name)

In [ ]:
type(name)

In [ ]:
print('Zalogowany jesteś jako: {}'.format(name[0]))

In [ ]:
2+2

In [ ]:
!ls

In [ ]:
z = !ls | grep README.md

In [ ]:
type(z)

In [ ]:
z

In [ ]:
z[0]

In [ ]:
ls

In [ ]:
ls | wc

In [ ]:
source = !pwd

In [ ]:
!pwd

In [ ]:
source

In [ ]:
ilosc = !ls | wc -l

In [ ]:
ilosc

In [ ]:
print('w sciezce {} jest {} plikow'.format(source[0], ilosc[0]))

In [ ]:
grep?

In [ ]:
!grep?

In [ ]:
ls

In [ ]:
ls all

In [ ]:
!ls -al

In [ ]:
!ls -a | grep -vE ".git$"

In [ ]:
lista_plikow = !ls -a

In [ ]:
lista_plikow

In [ ]:
lista_plikow.remove('.git')

In [ ]:
lista_plikow

###TUPLE

In [ ]:
## jest podobne do list, ale niemutowalne

In [ ]:
dni = ('pon','wt','sr','czw','pt')

In [ ]:
len(dni)

###slowniki

In [ ]:
slownik = {}

In [ ]:
type(slownik)

In [ ]:
slownik = {1:'Ewelina', 22:'Tomek', 13:'Marta'}

In [ ]:
slownik[22]

In [ ]:
slownik.keys()

In [ ]:
slownik.values()

In [ ]:
slownik.items()

In [ ]:
slownik[12] = 'Adam'

In [ ]:
slownik

In [ ]:
del slownik[12]

In [ ]:
slownik

###sety

In [ ]:
moj_zbior = {1, 2, 2, 3, 9}

In [ ]:
moj_zbior

In [ ]:
moja_lista = [1, 2, 2, 3, 9]

In [ ]:
list(set(moja_lista))

In [ ]:
A = {1, 2, 2, 3, 9}
B = {3, 9, 6, 7, 8}

In [ ]:
A | B

In [ ]:
A - B

In [ ]:
B - A

In [ ]:
A & B

### wartosc pusta

In [ ]:
A = None
temperatury = [17, 20, 21, 18, 30, None]

In [ ]:
temperatury.remove(None)

In [ ]:
sum(temperatury)

In [ ]:
min(temperatury)

In [ ]:
import statistics

In [ ]:
statistics.median(temperatury)

###Instrukcje warunkowe

In [ ]:
#sterowanie wykonaniem programu

In [ ]:
a = 4 
b = 4

if a < b:
    print('zmienna a jest mniejsza od b')
elif a > b:
    print('zmienna a jest wieksza od b')
else:
    print('zmienna a jest rowna zmiennej b')

In [ ]:
if a == b:
    print('sa rowne')

In [ ]:
X = 'Adrian'
H = 180
W = 150
BMI = H / (180/100)**2

In [ ]:
if BMI < 18.5:
    print('chudo')
elif BMI >= 18.5 and BMI < 24.9:
    print('spoko')
else:
    print('grubo')

###Pętle

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for element in range(2,10,3):
    print (element)

In [ ]:
for element in temperatury:
    print('temperatura wynosi {}'.format(element))

In [ ]:
#petla while

In [ ]:
i = 0
while i < 10:
    print('zmienna i wynosi {}'.format(i))
    i += 1

### list comprehension

In [ ]:
lista_elementow = []

for i in range(100):
    lista_elementow.append(i ** 2)

In [ ]:
len(lista_elementow)

In [103]:
[i**2 for i in range(100) if not i % 2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [104]:
[i**2 if not i%2 else 0 for i in range(100)]

[0,
 0,
 4,
 0,
 16,
 0,
 36,
 0,
 64,
 0,
 100,
 0,
 144,
 0,
 196,
 0,
 256,
 0,
 324,
 0,
 400,
 0,
 484,
 0,
 576,
 0,
 676,
 0,
 784,
 0,
 900,
 0,
 1024,
 0,
 1156,
 0,
 1296,
 0,
 1444,
 0,
 1600,
 0,
 1764,
 0,
 1936,
 0,
 2116,
 0,
 2304,
 0,
 2500,
 0,
 2704,
 0,
 2916,
 0,
 3136,
 0,
 3364,
 0,
 3600,
 0,
 3844,
 0,
 4096,
 0,
 4356,
 0,
 4624,
 0,
 4900,
 0,
 5184,
 0,
 5476,
 0,
 5776,
 0,
 6084,
 0,
 6400,
 0,
 6724,
 0,
 7056,
 0,
 7396,
 0,
 7744,
 0,
 8100,
 0,
 8464,
 0,
 8836,
 0,
 9216,
 0,
 9604,
 0]

In [105]:
[i**2 for i in range(40) if not i%3]

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900, 1089, 1296, 1521]

In [110]:
[i**2 for i in range(40) if not (i+1) ** 2 %3]

[4, 25, 64, 121, 196, 289, 400, 529, 676, 841, 1024, 1225, 1444]

In [111]:
kwadraty = [i**2 for i in range(40) if not i%3]

In [112]:
sum(kwadraty)

7371

In [114]:
[i**2 if not i%2 else -100 for i in range(100)]

[0,
 -100,
 4,
 -100,
 16,
 -100,
 36,
 -100,
 64,
 -100,
 100,
 -100,
 144,
 -100,
 196,
 -100,
 256,
 -100,
 324,
 -100,
 400,
 -100,
 484,
 -100,
 576,
 -100,
 676,
 -100,
 784,
 -100,
 900,
 -100,
 1024,
 -100,
 1156,
 -100,
 1296,
 -100,
 1444,
 -100,
 1600,
 -100,
 1764,
 -100,
 1936,
 -100,
 2116,
 -100,
 2304,
 -100,
 2500,
 -100,
 2704,
 -100,
 2916,
 -100,
 3136,
 -100,
 3364,
 -100,
 3600,
 -100,
 3844,
 -100,
 4096,
 -100,
 4356,
 -100,
 4624,
 -100,
 4900,
 -100,
 5184,
 -100,
 5476,
 -100,
 5776,
 -100,
 6084,
 -100,
 6400,
 -100,
 6724,
 -100,
 7056,
 -100,
 7396,
 -100,
 7744,
 -100,
 8100,
 -100,
 8464,
 -100,
 8836,
 -100,
 9216,
 -100,
 9604,
 -100]

###Dictionary comprehension

In [115]:
{ i: 65+i for i in range(4)}

{0: 65, 1: 66, 2: 67, 3: 68}

In [117]:
{ i: chr(65+i) for i in range(30)}

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y',
 25: 'Z',
 26: '[',
 27: '\\',
 28: ']',
 29: '^'}

### Funkcje

In [120]:
def funkcja():
    print('Pierwsa funkcja')

In [121]:
funkcja()

Pierwsa funkcja

In [122]:
def funkcja2():
    return('Pierwsa funkcja')

In [123]:
funkcja2()

'Pierwsa funkcja'

In [124]:
a = funkcja()
b = funkcja2()

Pierwsa funkcja

In [125]:
type(a)

NoneType

In [126]:
type(b)

str

In [127]:
def suma_dwoch_liczb(a,b):
    return a + b

In [128]:
c = suma_dwoch_liczb(2,3)

In [129]:
print(c)

5

In [144]:
def name():
    print ('Adrian')
    return ('Adrian')

In [145]:
name()

Adrian

'Adrian'

In [146]:
x = name()

Adrian

In [147]:
x

'Adrian'

In [148]:
x == None

False

In [138]:
lista_zarobkow = [ 4000, 5000, 3000, 8000]

In [139]:
M = lista_zarobkow

In [140]:
sum(M)

20000

In [159]:
def srednia_pensja(lista_zarobkow, nazwa_dzialu):
    print('Srednia pensja w dziale {} wynosi {}.format(nazwa_dzialu),lista_zarobkow)
    return (sum(lista_zarobkow) / len(lista_zarobkow))

SyntaxError: EOL while scanning string literal (<ipython-input-159-e8a50c47e003>, line 2)

In [153]:
len(lista_zarobkow)

4

In [154]:
type(len(lista_zarobkow))

int

In [158]:
srednia_pensja(M, 'adm')

5000.0

#### Generatory
takie jak list comprehension, uzywane do oszczedzania pamieci

In [161]:
(i for i in range(100))

In [162]:
result = (i for i in range(100))

In [164]:
next(result)

1

In [165]:
for i in result:
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [166]:
result = (num **2 for num in range(10**8))

In [167]:
for i in result:

SyntaxError: unexpected EOF while parsing (<ipython-input-167-fffe37e17d14>, line 1)

In [168]:
for i in result:
    pass